@mixin button-round ($color, $size: 5rem, $shadow-color: rgba(0, 0, 0, .3)) {
    cursor: pointer;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    width: $size;
    height: $size;
    line-height: $size;
    border-radius: $size;
    
    @if type_of($color) == 'color' {
        background-color: $color;
        box-shadow: 0 0.6rem 1.5rem rgba($color, 0.3);
    } @else {
        background-image: $color;
        box-shadow: 0 0.6rem 1.5rem rgba($shadow-color, 0.3);
    }
}