@import '../../shared/styles/theme';

.menu {
    $horizontal: 36px;
    $vertical: 36px;
    $width: 360px;
    $height: 400px;
    position: fixed;
    top: 0;
    right: 1rem;
    max-width: 40rem;
    background: #ff8f00;
    transform-origin: top right;

    @media (mq(md)) {
        right: 1.5rem;
    }

    &__list {
        height: 60vh;
    }

    &__list::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: #ff8f00;
        clip-path: ellipse(0 0 at $horizontal $vertical);
        transition: clip-path 0.3s ease;
        transition-delay: 100ms;
        z-index: -1;
    }

    ul {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        height: $height;
        margin: 0;
        padding: 40px 0;
        list-style: none;
        font-size: 18px;
        text-align: center;

        li {
            flex: 1 0;
            min-width: 100%;
            margin-top: 20px;
            transition: 0.3s ease-out;
            transition-property: margin, opacity;
        }

        @for $i from 1 through 20 {
            li:nth-child(#{$i}) {
                transition-delay: 100ms * $i;
            }
        }

        a {
            display: block;

            &,
            &:active,
            &:focus,
            &:visited,
            &:hover {
                color: white;
                text-decoration: none;
            }
        }
    }
}

.menu-button {
    pointer-events: none;
    position: fixed;
    top: 2rem;
    left: 50%;
    color: white;
    margin: auto;
    padding: 0 1rem;
    width: 100%;
    max-width: getGrid(max-width);
    text-align: right;
    transform: translateX(-50%);

    @media (mq(md)) {
        padding: 0 1.5rem;
    }

    .button-round {
        position: relative;
        pointer-events: all;
        z-index: 2;
    }

    svg {
        width: 2.2rem;
        height: 5rem;
    }
}