$colors: (
    theme: (
        base: #ff8f00,
        light: lighten(#ff8f00, 10%),
        gradient: linear-gradient(135deg, lighten(#ff8f00, 20%) 0%, #ff8f00 100%),
        contrast: #fff
    ),
    cta: (
        base: #ff8f00,
        contrast: #fff 
    ),
    text: (
        base: #0b0b0b,
        light: #808080,
        dark: #000,
        disabled: rgba(black, .34)
    ),
    status: (
        base: #21b0ff,
        info: #21b0ff,
        success: #4caf50,
        warning: #fdd949,
        danger: #e91c01
    ),
    social: (
        facebook: rgb(59, 89, 152),
        instagram: rgb(63, 114, 155),
        lastfm: rgb(213, 16, 7),
        linkedin: rgb(0, 119, 181),
        pinterest: rgb(189, 8, 28),
        twitch: rgb(100, 65, 165),
        twitter: rgb(85, 172, 238),
        vimeo: rgb(26, 183, 234),
        youtube: rgb(205, 32, 31)
    )
);