.backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9;
    background-color: rgba(255, 255, 255, .9);
    text-align: center;

    .button-round {
        position: fixed;
        bottom: 20px;
        color: white;
        text-align: center;
    }
}