@import '../../shared/styles/theme';

$header-height: 5rem;

header.main-header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
    width: 100%;
    height: 7rem;
    padding: 1rem;
    background-color: white;

    @media (mq(md)) {
        height: 9rem;
        padding: 2rem 1.5rem;
    }
}

.logo {
    text-align: center;
    padding: 0.7rem 0;
}