@function mq($breakpoint, $break: min) {
    $size: map-get($breakpoints, $breakpoint);

    @if map-has-key($breakpoints, $breakpoint) {
        @if $break == min {
            @return 'min-width: #{$size}';
        } @else {
            @return 'max-width: #{$size - 1}';
        }
    } @else {
        @error '#{$breakpoint} is not a valid media query';
    }
}