// Get grid item
@function getGrid($map, $option: false) {
    @if ($option) {
        @return map-get(map-get($grid, $map), $option);
    }
    @else {
        @return map-get($grid, $map);
    }
}