@function getColor($color, $option: default, $map: $colors) {
    $key: map-get($map, $color);

    @if $option == default {
        @if type-of($key) == map {
            @return map-get($key, base);
        } @else {
            @return $key;
        }
    } @else {
        @return map-get($key, $option);
    }
}